body
{
  background: #ded7d3;
}

.custom-align
{
  text-align: center;
}

img
{
  opacity: 0.6;
}

.lucent > h1, .jojo > h1
{
  color: white;
  font-family: 'Nunito', sans-serif;
  position: relative;
  font-size: 125px;
  top: -1.3em;
}

.lucent > h1
{
  text-shadow: 7px 7px 10px #756157;
}

.jojo > h1
{
  text-shadow: 7px 7px 10px #6f5d63;
}

.lucent
{
  padding: 0;
  height: 1000px;
}

.jojo
{
  padding: 0;
  height: 1000px;
}

.trib > h2
{
  font-size: 3em;
}

.trib > h2, .gallery
{
  font-family: 'Arvo', serif; 
  color: #6a565d;
}

.gallery
{
  font-size: 1.5em;
}
@media (min-width: 1200px) and (max-width: 1275px)
{
  .trib
  {
    margin-top: -20em;
  }
}

@media (min-width: 1275px) and (max-width: 1350px)
{
  .trib
  {
    margin-top: -18em;
  }
}

@media (min-width: 1350px) and (max-width: 1425px)
{
  .trib
  {
    margin-top: -15em;
  }
}

@media (min-width: 1425px) and (max-width: 1500px)
{
  .trib
  {
    margin-top: -13em;
  }
}

@media (min-width: 1500px) and (max-width: 1575px)
{
  .trib
  {
    margin-top: -11em;
  }
}

@media (min-width: 1575px) and (max-width: 1650px)
{
  .trib
  {
    margin-top: -9em;
  }
}

@media (min-width: 1650px) and (max-width: 1736px)
{
  .trib
  {
    margin-top: -7em;
  }
}

@media (min-width: 1736px) and (max-width: 1840px)
{
  .trib
  {
    margin-top: -4em;
  }
}

#jgallery
{
  background-color: inherit;
  display: none;
  margin-left: 10em;
}

#lgallery
{
  /*display: none;*/
  margin-left: 0.2em;
  padding-top: 3em;
  padding-left: 7.5em;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.thumbnail
{
  width: 200px;
}

#luheader
{
  /*background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0px 0px;*/
}

#joheader
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0px 0px;
}
