body
{
  background: #ded7d3;
}

.lightbox
{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  display: none;
}

@media (min-width: 200px)
{
  #lucentpic
  {
    width: auto;
    height: auto;
    margin: auto;
  }

  #jojopic
  {
    margin: auto;
    margin-top: 50%;
  }

  .both-arrows
  {

  }
}

@media (min-width: 500px)
{
  #lucentpic
  {
    width: 90%;
    height: auto;
    margin: auto;
  }

  #jojopic
  {
    margin: auto;
    width: 60%;
    height: auto;
  }

  .both-arrows
  {

  }

}

@media (min-width: 992px)
{
  #lucentpic
  {
    width: 80%;
    height: auto;
    margin: auto;
  }

  #jojopic
  {
    margin: auto;
    width: 60%;
    height: auto;
  }

  .both-arrows
  {
    margin-top: 50vh;
  }
}

.custom-align
{
  text-align: center;
}

.translucent
{
  opacity: 0.6;
}

.lucent > h1, .jojo > h1
{
  color: white;
  font-family: 'Nunito', sans-serif;
  position: relative;
  font-size: 125px;
  top: -1.3em;
}

.lucent > h1
{
  text-shadow: 7px 7px 10px #756157;
}

.jojo > h1
{
  text-shadow: 7px 7px 10px #6f5d63;
}

.lucent
{
  padding: 0;
  height: 1000px;
}

.jojo
{
  padding: 0;
  height: 1000px;
}

.trib > h2
{
  font-size: 3em;
}

.trib > h2, .gallery, #quotes, .subreddits, #portfolio
{
  font-family: 'Arvo', serif; 
  color: #6a565d;
}

.gallery
{
  font-size: 1.5em;
}
@media (min-width: 1200px) and (max-width: 1275px)
{
  .trib
  {
    margin-top: -20em;
  }
}

@media (min-width: 1275px) and (max-width: 1350px)
{
  .trib
  {
    margin-top: -18em;
  }
}

@media (min-width: 1350px) and (max-width: 1425px)
{
  .trib
  {
    margin-top: -15em;
  }
}

@media (min-width: 1425px) and (max-width: 1500px)
{
  .trib
  {
    margin-top: -13em;
  }
}

@media (min-width: 1500px) and (max-width: 1575px)
{
  .trib
  {
    margin-top: -11em;
  }
}

@media (min-width: 1575px) and (max-width: 1650px)
{
  .trib
  {
    margin-top: -9em;
  }
}

@media (min-width: 1650px) and (max-width: 1736px)
{
  .trib
  {
    margin-top: -7em;
  }
}

@media (min-width: 1736px) and (max-width: 1840px)
{
  .trib
  {
    margin-top: -4em;
  }
}

#jgallery
{
  margin-left: 0.2em;
  padding-top: 3em;
  padding-left: 7.5em;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

#lgallery
{
  display: none;
  margin-left: 0.2em;
  padding-top: 3em;
  padding-left: 7.5em;
  background-color: rgba(0, 0, 0, 0.2);
}

.thumbnail
{
  width: 200px;
}

#luheader
{
  background-color: inherit;
  border-radius: 10px 10px 0px 0px;
  text-shadow: none;
}

#lugal:hover
{
  text-shadow: 1px 1px 10px #756157;
}

#joheader
{
  background-color: inherit;
  border-radius: 10px 10px 0px 0px;
  text-shadow: none;
}

#jogal:hover
{
  text-shadow: 1px 1px 10px #756157;
}

.fa-5x
{
}
.fa-angle-right, .fa-angle-left
{
  color: white;
}

#arrows
{
  text-align: center;
}

#left-arrow
{
  visibility: visible;
}

#right-arrow
{
  visibility: visible;
}

@media (min-width: 100px)
{
  #luc_header
  {
    color: white;
  }
}

@media (min-width: 900px)
{
  #luc_header
  {
    color: #f2f2f2;
  }
}

#close
{
  z-index: 100;
  position: absolute; 
  margin-left: 4em;
  color: white;
}

blockquote
{
  font-size: 2em;
  margin-top: 2em;
}

.subreddits, .subreddits > a, .subreddits > a:hover
{
  color: #6a565d;
  font-size: 2em;
}

.subreddits
{
  margin-bottom: 2em;
}

a
{
  color: #6a565d;
}

.sr:hover
{
  color: #6a565d;
  text-decoration: none;
  text-shadow: 1px 1px 10px #756157;
}

span
{
  margin-right: 1.25em;
}

#portfolio
{
  color: #6a565d;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}


.list-group-item
{
  background-color: #9c002f;
  border: 1px solid #800026;
  margin-left: 50px;
  margin-right: 50px;
}

#about
{
  display: none; 
}

#projects
{
  display: none;
}

#timpic
{
  display: none;
  border-radius: 30px;
}

#portfolio i
{
  margin-left: 8px;
}

#portfolio a:hover, #portfolio a:visited, #portfolio a:focus
{
  text-decoration: none;
}

#portfolio a
{
  text-shadow: none;
}

#portfolio a:hover, #portfolio a:visited, #portfolio a:focus
{
  text-shadow: 1px 1px 10px #756157;
  color: #6a565d;
}
