body
{
  background: #ded7d3;
}

#custom-align
{
  text-align: center;
}

img
{
  opacity: 0.6;
}

.lucent > h1, .jojo > h1
{
  color: white;
  font-family: 'Nunito', sans-serif;
  position: relative;
  font-size: 175px;
  top: -1.3em;
}

.lucent
{
  /*padding-right: 0;*/
  padding: 0;
  height: 1000px;
}

.jojo
{
  /*padding-left: 0;*/
  padding: 0;
  height: 1000px;
}


